
<!DOCTYPE html>
<html>
<head>
  <title>Log In Page</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <script type="text/javascript" src="{% static 'js/verif.js' %}"></script>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form name="F" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="N" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="P" required>
      
      <a href="sign_up.html">Sign up</a>
      <button type="submit" href="#">Login</button>
    </form>
  </div>
</body>
</html>
